<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
 
{% block body %}
 
<h1>hi! this is about the creators of the site</h1>

<br></br>
 
<div class="row align-items-start">
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/sophie_photo.jpeg" width="190" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
 </div>
 
   <div class="row align-items-start">
     <div class="col border">
       
      jiayong
     </div>
     <div class="col border">
       krystal
     </div>
     <div class="col border">
       nghi
     </div>
     <div class="col border">
       sophie
     </div>
     <div class="col border">
       susanna
     </div>
   </div> 
 
   <div class="row align-items-start">
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me:
     </div>
     <div class="col border">
       about me: i am a senior at oakland technical high school and i wanted to build this app to help students and people in general with their self confidence and their mental health because i know how hard it is dealing with school and social media and how much that affects the way you view yourself
     </div>
     <div class="col border">
       about me:
     </div>
   </div>

{% endblock %}
