<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<h1>About Us</h1>
 
<h1>hi! we are the creators of this site. welcome to our app!</h1>
<h1>here you can learn a little bit more about the app and why we decided to make it</h1><br>
<h3>we wanted to help people who were struggling with their self esteem and mental health because of school and social media. this app consists of a game and a journal. the game is a choose your own adventure game where you can make choices in situations that would negatively or positively affect your mental health and you can level up and earn cool charactor, objects, and clothes to dress your character with, when you get the good endings( endings that show you have grown and understand how to take care of yourself. the journal is a way to write down how you are feeling each day and over time as you create more and more journal entries you will be able to see the trends in your moods and mental state on the data page.</h3> <br>
<h1>best of luck on your journey to a happier you!</h1>

<br></br>
 
<div class="row align-items-start">
   <div class="col">
     <img src = "/static/jy_photo.png" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/nghi_photo.png" width="150" height="150">
   </div>
   <div class="col">
     <img src = "/static/sophie_photo.jpeg" width="190" height="150">
   </div>
   <div class="col">
     <img src = "/static/basic icon.jpeg" width="150" height="150">
   </div>
 </div>
 
   <div class="row align-items-start">
     <div class="col border">
       
      jiayong
     </div>
     <div class="col border">
       krystal
     </div>
     <div class="col border">
       nghi
     </div>
     <div class="col border">
       sophie
     </div>
     <div class="col border">
       susana
     </div>
   </div> 
 
   <div class="row align-items-start">
     <div class="col border">
       about me: my name is jia yong and i am a senior at oakland tech. i like baking, reading, and tetrising. i wanted to do this topic because i used to struggle a lot with my body image, and wanted to help others learn to appreciate and take care of themselves.
     </div>
     <div class="col border">
       about me: hey eveyone! i'm a senior at oakland tech. i enjoy eating yummy food and hanging out with my friends and family. i chose to build this app because i too struggle with my self perception and would like to overcome it while learning about which coping mechanisms work and educating others.
     </div>
     <div class="col border">
       about me: my name is nghi, i'm still 17, and i go to oakland technical high school. my page will be the choose your own adventure game based around mental health and how they can affect you.
     </div>
     <div class="col border">
       about me: i am a senior at oakland technical high school and i wanted to build this app to help students and people in general with their self confidence and their mental health because i know how hard it is dealing with school and social media and how much that affects the way you view yourself
     </div>
     <div class="col border">
       about me: hello, i am a senior at oakland technical high school! i like to hang out with friends and family, go on hikes, snowboard, and read. a fun fact about me is that i have a dog named coco. i wanted to build this app because a lot of people struggle with mental health and beauty standards, which can drain an individual and cause them to feel inferior about themselves. i want to help build something that can bring up others' confidence. 
 

     </div>
   </div>


{% endblock %}
