<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>hi! welcome to our app, here you can learn a little bit more about the app and why we decided to make it</h1><br>
<h3>we wanted to help people who were struggling with their self esteem and mental health because of school and social media. this app consists of a game and a journal. the game is a choose your own adventure game where you can make choices in situations that would negatively or positively affect your mental health and you can level up and earn cool charactor, objects, and clothes to dress your character with, when you get the good endings( endings that show you have grown and understand how to take care of yourself. the journal is a way to write down how you are feeling each day and over time as you create more and more journal entries you will be able to see the trends in your moods and mental state on the data page.</h3> <br>
<h1>best of luck on your journey to a happier you!</h1>
<h6>version history:</h6> 
   <ul>
     <li>current version: 1.0</li>
     <li>last version: 1.0</li>
   </ul>
{% endblock %}