{% extends 'base.html' %}

{% block body %}

<body style="background-color:rgb(218, 224, 191)"></body>
<h1>Healthy, Happy, Habits</h1>
<br>
<br>
<h6>Welcome to our site! We want to create a calming space for you to relax, vent your frustrations, and have fun!</h6>
<br>
<br>
<img src="https://media.giphy.com/media/KHQnucWq6EK6uniASZ/giphy.gif" alt="" class="center">
<br>
<br>
<a href="/mad"><alt="" height="100" width="100"></a>
<br>
<h3><a class="nav-link" href="/aboutus">Click here to learn more about us.</a></h3>

</body>

{% endblock %}