{% extends "base.html" %}

{% block body %}
    <div class="container">
        <h1>login</h1>
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}
        <p>new user? <a href="{{ url_for('register') }}">click to register!</a></p>

        <form method=post>
            {{ form.hidden_tag() }}
            <table class="table">
            <tr><th>username</th><th>{{form.username}}</th></tr>
            <tr><th>password</th><th>{{form.password}}</th></tr>
            <tr><th>remember me?</th><th>{{form.remember_me}}</th></tr>
            <tr><td colspan="2">{{form.submit()}}</td></tr>
        </table>
        </form>

        <p>
            forgot your password?
            <a href="{{ url_for('reset_password_request') }}">click to reset it</a>
        </p>
        
    </div>
{% endblock %}
