{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">all posts</h1>
    </div>
    <div class="col">
        <a href="/post/new" class="btn btn-primary btn-sm mt-5" role="button">new post</a>
    </div>
</div>

{% if posts %}
    {% for post in posts %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">date</h3>
                {% endif %}

                <a href="/post/{{post.id}}">
                    {{moment(post.createdate).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">user</h3>
                {% endif %}
                {{post.author.username}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">subject</h3>
                {% endif %}
                {{post.subject}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">review</h3>
                {% endif %}
                {{post.review}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>no posts</h1>
{% endif %}

{% endblock %}