<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body class="backgroundColor" style="background-color:rgb(218, 224, 191)">
  <h3>How are you feeling today?</h3>
  <br>
  <br>
  <a href="/happy"><img src="/static/happy.png" alt="" height="100" width="100"></a>
  <br>
  <br>
  <a href="/sad"><img src="/static/sad.png" alt="" height="100" width="100"></a>
  <br>
  <br>
  <a href="/mad"><img src="/static/mad.png" alt="" height="100" width="100"></a>
  <br>
  <br> 
  <a href="/tired"><img src="/static/tired.png" alt="" height="100" width="100"></a>
  <br>
  <br>
  <a href="/annoyed"><img src="/static/annoyed.png" alt="" height="100" width="100"></a>
</body>

{% endblock %}