{% extends 'base.html' %}

{% block body %}

<body style="background-color:rgb(218, 224, 191)">
    <h4>I'm sorry you feel that way. Let's reflect on why.</h4>
    <br>
    <br>
    <img src="https://media.giphy.com/media/SSFfVBJ9EbF9DIZHEj/giphy.gif" alt="" class="center">
    <br>
    <br>
    <h5>Here's something to listen to while you journal!</h5>
    <h6><a href="https://www.youtube.com/watch?v=0XRYgtKrpXY">music</a></h6>
    <h6><a href="https://www.youtube.com/watch?v=9A20iBiDcw0">affirmations</a></h6>
    <h6><a href="https://www.youtube.com/watch?v=V1RPi2MYptM">calming sounds</a></h6>
    <br>
    <br>
    <h5>Some fun prompts for if you don't just want to write about your day/feelings: </h6>
    <br>
    <h6>-Write a letter to someone that you will never send.</h6>
    <br>
    <h6>-If you had an unlimited source of money, what would you do with it?</h6>
    <br>
    <h6>-Write about your celebrity crushes and why you like them.</h6>
    <br>
    <h3><a class="nav-link" href="/post/list">Click here to go to your journal.</a></h3>
</body>

{% endblock %}